.chat .chat-body.right-body{
  text-align: right;
}
.chat li{
  list-style: none;
}
.chat .chat-body{
  background-size: 40px !important;
  padding-left: 55px;
}
.chat .chat-body.right-body{
  background-size: 40px !important;
  padding-right: 55px;
  padding-left: 0;
  position: relative;
}
.chat .chat-body.right-body .delete_message{
  position: absolute;
  left: 0;
  top:5px;
}
.chat .chat-body.right-body .delete_message img{
  width: 20px;
}